@model IEnumerable<WebApplication2022_Core6_3_6_Dapper.Models2.DepartmentTable2>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>[Dapper] Index_MultiMapping</title>
</head>
<body>
    <h3>[Dapper] Index_MultiMapping （Left Join）</h3>
    // Example - Query Multi-Mapping (One to Many)<br />
    // http://dapper-tutorial.net/result-multi-mapping （一對多）
    <br /><br /><br />

    <table class="table" border="1">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentId) </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentName) </th>
            <th>該科系的「學生名單」</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td bgcolor="pink">
                    @Html.DisplayFor(modelItem => item.DepartmentId)
                </td>
                <td bgcolor="pink">
                    @Html.DisplayFor(modelItem => item.DepartmentName)
                </td>
                <td>

                    <!-- 雙重迴圈（呈現  一對多） -->
                    <!-- *** 這個區域需要自己動手寫 ****************************************************(start) -->
                    <table class="table" border="1">
                        <tr>
                            <th>UserId</th>
                            <th>UserName</th>
                            <th>User's DepartmentId</th>
                        </tr>

                        @foreach (var item2 in item.UserTable2s)
                        {   //                              ****************** 改寫的 重 點！！
                        <tr>
                            <td bgcolor="Aqua">
                                @Html.DisplayFor(modelItem2 => item2.UserId) 
                                <!--                                              ****************** 改寫的 重 點！！  --> 
                            </td>
                            <td bgcolor="Aqua">
                                @Html.DisplayFor(modelItem2 => item2.UserName)
                            </td><!--                                         ****************** 改寫的 重 點！！  -->
                            <td bgcolor="Aqua">
                                @Html.DisplayFor(modelItem2 => item2.DepartmentId) 
                            </td><!--                                         ****************** 改寫的 重 點！！  -->
                        </tr>
                        }
                    </table>
                    <!-- *** 這個區域需要自己動手寫 ****************************************************( end ) -->

                </td>
            </tr>
        }

    </table>
</body>
</html>
